# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
certifi=2016.2.28=py35_0
curl=7.49.0=1
gdal=2.1.0=py35_0
geos=3.5.0=0
geotiff=1.4.1=0
hdf4=4.2.12=1
hdf5=1.8.17=2
jbig=2.1=0
jpeg=9b=0
kealib=1.4.6=0
libgdal=2.1.0=0
libnetcdf=4.4.1=1
libtiff=4.0.6=3
mkl=2017.0.3=0
numpy=1.13.1=py35_0
openssl=1.0.2l=0
pip=9.0.1=py35_1
proj4=4.9.2=0
python=3.5.4=0
readline=6.2=2
setuptools=36.4.0=py35_1
shapely=1.5.16=py35_0
sqlite=3.13.0=0
tk=8.5.18=0
wheel=0.29.0=py35_0
xerces-c=3.1.4=0
xz=5.2.3=0
zlib=1.2.11=0
